[submodule "gc9d01"]
	path = gc9d01
	url = git@github.com:IvanLi-CN/gc9d01-rs.git
	branch = feat/panel-160x50-adaptation
[submodule "tca6424"]
	path = tca6424
	url = git@github.com:IvanLi-CN/tca6424-rs
[submodule "sw2303"]
	path = sw2303
	url = https://github.com/IvanLi-CN/sw2303-rs.git
